.first {
  background-color: #2F1A61;
  border-radius: 50%;
  height: 196px;
  width: 196px;
}

.flexer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  background-color: #190E34;
  border: 1px solid #644D9A;
  border-radius: 50%;
  height: 260px;
  width: 260px;
}

.third {
  background-color: #190E34;
  border: 1px solid #493182;
  border-radius: 50%;
  height: 324px;
  width: 324px;
}

.fourth {
  background: rgb(25, 14, 52);
  border-radius: 50%;
  height: 392px;
  width: 392px;
  box-shadow: 0 0 15px 5px rgba(45, 24, 95, 0.7),
    /* Outside shadow */
    inset 0 0 15px 5px rgba(55, 30, 113, 0.7);
  /* Inside shadow */
}

#background {
  background: linear-gradient(to bottom, #2C2143 0%, #000000 100%);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  font-size: 16px;
  text-align: center;
  padding: 32px 0px;
  font-weight: 16px;
  font-family: 'Inter';
  color: #FFFFFF;

}

.btn {
  height: 46px;
  width: 327px;
  background: #1D103A;
  border: 2px solid #6434CE;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.bottom {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

#header {
  font-weight: 700;
  font-size: 29px;
  color: #FFFFFF;
  text-align: center;
  margin: 22.9px 0px;
}

#subheader {
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
  text-align: center;
  margin: 22.9px 0px;
  margin-bottom: 52px;
}